/***************************************************************
 * viewer Crowdsourcing Stylesheet v3.1.0
 * 
 * Write {LESS}, do more!
 *
 * This file overwrites the basic style declarations for the
 * Goobi viewer Crowdsourcing (reference-cs.css)
 **************************************************************/
/* CORE VARIABLES AND MIXINS */
/* ==============================================================
   Theme Fonts
   ==============================================================*/
/* ==============================================================
   General Styling
   ==============================================================*/
body {
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Layout
   ==============================================================*/
/* ICON TO SCROLL PAGE UP */
.icon-totop {
  font-size: 1.5rem;
  text-align: center;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   LESS Mixins
   ==============================================================*/
/* CLEARFLOATS */
.mx-clearfloats:before,
.mx-clearfloats:after {
  content: " ";
  display: table;
}
.mx-clearfloats:after {
  clear: both;
}
/* BACKGROUND IMAGE */
/* CSS TRIANGLE */
/* HIDDEN */
.mx-visible {
  display: block !important;
  visibility: visible !important;
}
/* HIDDEN */
.mx-hidden {
  display: none !important;
  visibility: hidden !important;
}
/* VISUALLY HIDDEN */
.mx-v-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  overflow: hidden;
}
/* GRID */
/* LIST RESET */
.mx-list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* ==============================================================
   Print CSS
   style declarations for print views
   ==============================================================*/
@media print {
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:link:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
}
/* ==============================================================
   Variables
   ==============================================================*/
/* FONTS */
/* BASIC COLORS */
/* CI COLORS */
/* MESSAGE COLORS */
/* BUTTON COLORS */
/* STATISTICS */
/* NER COLORS */
/* READING MODE COLORS */
/* CROWDSOURCING COLORS */
/* MEDIA QUERY BREAK POINTS */
/* VIEWER COMPONENTS */
/* ==============================================================
   viewer Controls
   style declarations for viewImageControls.xhtml
   ==============================================================*/
/* BASIC STYLING FOR VIEWER-, FULLTEXT- AND PREVIEW-CONTROLS */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Simple (Numeric) Paginator
   style declarations for simplePaginator.xhtml
   ==============================================================*/
/* NUMERIC PAGINATOR */
/* BLOCK */
.numeric-paginator {
  /* ELEMENT */
  /* MODIFICATION */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Buttons
   style declarations for buttons
   ==============================================================*/
/* BUTTONS */
.btn {
  /* MODIFICATION */
}
/* MODIFICATIONS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* CROWDSOURCING LAYOUT */
/* ==============================================================
   Crowdsourcing Layout
   style declarations for Crowdsourcing Layout
   ==============================================================*/
body {
  padding: 70px 15px 0 15px;
}
.cs-widget-box {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ccc;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* CROWDSOURCING COMPONENTS */
/* ==============================================================
   Crowdsourcing Change Local
   style declarations for crowdsourcingChangeLocal.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Image Controls
   style declarations for image controls
   ==============================================================*/
/* image controls */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Main Navigation
   style declarations for crowdsourcingNavigation.xhtml
   ==============================================================*/
#mainnav {
  background-color: #428bca;
  border-color: #428bca;
}
#mainnav ul li a {
  color: #fff;
}
#mainnav ul li a:hover,
#mainnav ul li a:focus,
#mainnav ul li a:active {
  color: white;
}
#mainnav .dropdown-menu > li {
  width: 100%;
}
#mainnav .dropdown-menu > li.divider {
  min-height: inherit;
}
#mainnav .dropdown-menu > li > a {
  color: #4b4b4b;
}
#mainnav .dropdown-menu > li > a:hover,
#mainnav .dropdown-menu > li > a:focus,
#mainnav .dropdown-menu > li > a:active {
  color: #4b4b4b;
  background-color: #eee;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Progress Bars
   style declarations for progress bars
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* VIEWS */
/* ==============================================================
   Crowdsourcing edit View Content
   style declarations for editviewContent.xhtml
   ==============================================================*/
/* content left */
/* content right */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing edit View History
   style declarations for editviewHistory.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Edit View OCR
   style declarations for editviewOcr.xhtml
   ==============================================================*/
/* content right */
.ocr-right-delete-fulltext-mode {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ccc;
}
/* DISPLAY IF PAGE LOCKED BY DIFFERENT USER */
/* ADD WORD OR CREATE PLAINTEXT */
/* INPUT PANELS FOR ALTO-FULLTEXT */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing edit View Overview
   style declarations for editviewOverview.xhtml
   ==============================================================*/
/* CONTENT LEFT */
/* CONTENT RIGHT */
/* DESCRIPTION */
/* TIMELINE */
.overview-right-show-more {
  text-align: center;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Crowdsourcing Overview
   style declarations for crowdOverview.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOPS */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
