/***************************************************************
 * viewer custom Stylesheet v3.1.0
 * 
 * Write {LESS}, do more!
 *
 * This file overwrites the basic style declarations for the
 * Goobi viewer (<themeName>.css)
 **************************************************************/
/* CORE VARIABLES AND MIXINS */
/* ==============================================================
   Variables
   ==============================================================*/
/* FONTS */
/* BASIC COLORS */
/* CI COLORS */
/* STATISTICS COLORS */
/* NER COLORS */
/* READING MODE COLORS */
/* CROWDSOURCING COLORS */
/* MEDIA QUERY BREAK POINTS */
/* ==============================================================
   LESS Mixins
   ==============================================================*/
/* CLEARFLOATS */
.mx-clearfloats:before,
.mx-clearfloats:after {
  content: " ";
  display: table;
}
.mx-clearfloats:after {
  clear: both;
}
/* BACKGROUND IMAGE */
/* CSS TRIANGLE */
/* HIDDEN */
.mx-hidden {
  display: none !important;
  visibility: hidden !important;
}
/*
 * general styling
 */
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: 768px) {
  body {
    padding-top: 52px;
  }
}
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Theme Fonts
   ==============================================================*/
/* ==============================================================
   Resets for CSS Libs
   ==============================================================*/
/* BOOTSTRAP */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/* AJAX LOADER */
/* OFFCANVAS FADE */
.offcanvas-fade.in {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
/* HEADER */
/* BLOCK */
.page-header {
  /* ELEMENT */
}
/* CONTENT */
/* BLOCK */
.page-content {
  /* ELEMENT */
}
.page-content__close-sidebar {
  display: none;
  margin-bottom: 1.3125rem;
}
.page-content__close-sidebar button {
  display: block;
  width: 100%;
  text-align: right;
}
/* FOOTER */
/* BLOCK */
.page-footer {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: 768px) {
  /* HEADER */
  /* CONTENT */
  /* SIDEBAR */
  .page-content #sidebar {
    position: fixed;
    float: none;
    top: 0;
    left: -50%;
    bottom: 0;
    width: 50%;
    padding: 15px;
    border-right: 1px solid #ccc;
    background-color: #fff;
    overflow-y: auto;
    transition: all .3s linear;
    z-index: 1000;
  }
  .page-content #sidebar.in {
    left: 0;
  }
  .page-content__close-sidebar {
    display: block;
  }
  /* FOOTER */
}
/* BREAKPOINT FOR SMARTPHONES */
@media screen and (max-width: 480px) {
  /* HEADER */
  /* CONTENT */
  /* SIDEBAR */
  .page-content #sidebar {
    left: -90%;
    width: 90%;
  }
  /* FOOTER */
}
/* ==============================================================
   Print CSS
   style declarations for print views
   ==============================================================*/
@media print {
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:link:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
}
/* BASIC COMPONENTS */
/* ==============================================================
   Icons
   style declarations for icons used in viewer
   ==============================================================*/
.icon-totop {
  font-size: 1.5rem;
  text-align: center;
}
/* SEARCHDRILLDOWN ICONS */
/* SOCIAL MEDIA ICONS */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Forms
   style declarations for forms
   ==============================================================*/
/* INPUT MODIFICATIONS */
/* CUSTOM CONTROL */
/* BLOCK */
.custom-control {
  /* ELEMENT */
  /* MODIFICATION */
}
/* INPUT PLACEHOLDER */
/* WebKit, Blink, Edge */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
  opacity: 1;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
  opacity: 1;
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Buttons
   style declarations for buttons
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Modals
   style declarations for Bootstrap Modals
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* VIEWER COMPONENTS */
/* ==============================================================
   Navigation
   style declarations for navigation.xhtml
   ==============================================================*/
/* NAVIGATION */
/* BLOCK */
.navigation {
  /* ELEMENT */
  /* STANDARD MENU */
  /* MEGA MENU */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Mobile Toggle Wrapper
   style declarations for mobileToggles.xhtml
   ==============================================================*/
/* MOBILE TOGGLE WRAPPER */
/* BLOCK */
#mobileToggleWrapper {
  /* ELEMENT */
}
#mobileToggleWrapper .customer-header-logo span {
  display: none;
}
#mobileToggleWrapper .language,
#mobileToggleWrapper .search {
  display: none;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Template Navigation
   style declarations for templateNavigation.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Change Local
   style declarations for changeLocal.xhtml
   ==============================================================*/
/* BLOCK */
.change-local {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
@media screen and (max-width: 768px) {
  .change-local {
    margin-bottom: 1.3125rem;
  }
}
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Breadcrumbs
   style declarations for breadcrumbs.xhtml
   ==============================================================*/
/* BREADCRUMBS */
/* BLOCK */
.breadcrumbs {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Alphabetic Paginator
   style declarations for alphabeticPaginator.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Simple (Numeric) Paginator
   style declarations for simplePaginator.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Title
   style declarations for title.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   viewer Controls
   style declarations for viewImageControls.xhtml
   ==============================================================*/
/* BASIC STYLING FOR VIEWER-, FULLTEXT- AND PREVIEW-CONTROLS */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Image Controls
   ==============================================================*/
/* CONTROLS */
/* BLOCK */
.image-control {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   User generated Content
   style declarations for viewImageUserGeneratedContent.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   User Comments
   style declarations for viewImageComments.xhtml
   ==============================================================*/
#viewImageComments {
  /* ADD COMMENT */
  /* EXSITING COMMENTS */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   ePubs
   style declarations for ePub.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Responsive Column Gallery
   style declarations for responsiveColumnGallery.xhtml
   ==============================================================*/
/* RESPONSIVE COLUMN GALLERY LIGHTBOX */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Datatable Paginator
   style declarations for dataTablePaginator.xhtml
   ==============================================================*/
/* DATATABLE PAGINATOR */
/* BLOCK */
.data-table-paginator {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Search Sorting Dropdown
   style declarations for searchSortingDropdown.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Normdata
   style declarations for normdata.xhtml 
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Search Help text
   style declarations for searchHelpText.xhtml
   ==============================================================*/
/* SEARCH HELP TEXT */
/* BLOCK */
#searchHelpAccordion {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ADMIN VIEWS */
/* ==============================================================
   Admin 
   global style declarations for admin backend
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Admin Backend Tables
   style declarations for admin backend tables
   ==============================================================*/
/* BLOCK */
.admin-table {
  /* ELEMENT */
}
/* BOOTSTRAP OVERWRITE */
/* ADMIN TABLE IDS */
/* ALL USER */
/* ALL USER GROUPS */
/* IP RANGES */
/* LICENSE TYPES */
/* USER COMMENTS */
/* USER ACTIVITY */
/* DATATABLES SORTING */
/* DATATABLES FILTER */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Admin IP-Range
   style declarations for adminIpRange.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Admin Licence Type
   style declarations for adminLicenseType.xhtml
   ==============================================================*/
#adminlicenseTypeWrapper {
  padding: 10px;
  border: 1px solid #ccc;
}
#adminlicenseTypeWrapper fieldset textarea {
  resize: vertical;
}
#adminlicenseTypeWrapper .btn {
  margin: 0 0 0 5px;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Admin Add User
   style declarations for adminUser.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Admin User Group
   style declarations for adminUserGroup.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Admin Tab User Licenses
   style declarations for tabUserLicenses.xhtml
   ==============================================================*/
#editLicenseWrapper {
  /* privileges */
  /* action */
}
#editLicenseWrapper .form-horizontal .form-group .col-sm-8 {
  /* datepicker */
}
#editLicenseWrapper .form-horizontal .form-group .col-sm-8 select {
  height: 34px;
  padding: 6px 12px;
}
#editLicenseWrapper .form-horizontal .form-group .col-sm-8 textarea {
  min-height: 150px;
  resize: vertical;
}
#editLicenseWrapper .form-horizontal .form-group .col-sm-8 span input,
#editLicenseWrapper .form-horizontal .form-group .col-sm-8 span button {
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: none;
}
#editLicenseWrapper .form-horizontal .form-group .col-sm-8 span button {
  margin-top: -4px;
  border-left: none;
  background-color: #eee;
}
#editLicenseWrapper .select-privileges label input[type="checkbox"] {
  margin-right: 5px;
}
#editLicenseWrapper .edit-license-action {
  text-align: right;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* COMMON VIEWS */
/* ==============================================================
   Browse
   style declarations for browse.xhtml
   ==============================================================*/
/* BROWSE */
/* BLOCK */
.collections {
  /* ELEMENT */
}
.collection {
  /* ELEMENT */
  /* MODIFICATION */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Error
   style declarations for errorGeneral.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Feedback
   style declarations for feedback.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Statistics
   style declarations for statistics.xhtml
   ==============================================================*/
#statistics {
  /* NEARLY COMPLETED */
  /* MOST ACTIVE USER */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Styles
   style declarations for styles.xhtml
   ==============================================================*/
/* STYLES */
/* BLOCK */
.styles {
  /* ELEMENT */
}
/* MODIFICATION */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Privacy
   style declarations for privacy.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* SEARCH VIEWS */
/* ==============================================================
   Search Standard
   style declarations for searchOptions.xhtml 
   ==============================================================*/
/* SEARCH STANDARD */
/* BLOCK */
.search-standard {
  /* ELEMENT */
  /* MODIFICATION */
}
/* AUTOCOMPLETE PANEL */
/* SEARCH HELP MODAL */
/* BLOCK */
.search-help {
  /* ELEMENT */
  /* MODIFICATION */
}
/* SEARCH TILE */
/* BLOCK */
.search-tile {
  /* ELEMENT */
  /* MODIFICATION */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Search Advanced
   style declarations for searchAdvanced.xhtml 
   ==============================================================*/
/* SAERCH ADVANCED */
/* BLOCK */
.search-advanced {
  /* ELEMENT */
}
/* MODIFICATION */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   SearchList
   style declarations for searchList.xhtml
   ==============================================================*/
/* SEARCH LIST */
/* VARIABLES */
/* BLOCK */
.search-list {
  /* ELEMENT */
  /* LINKS */
  /* SORTING */
  /* ADVANCED SEARCH INFO */
  /* HITS */
}
/* MODIFICATION */
/* STACKED MV THUMBNAIL */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Search Calendar
   style declarations for searchCalendar.xhtml 
   ==============================================================*/
/* BLOCK */
.search-calendar {
  /* ELEMENT */
  /* MODIFICATION */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Search Timeline
   style declarations for searchTimeline.xhtml 
   ==============================================================*/
/* BLOCK */
.search-timeline {
  /* ELEMENT */
  /* MODIFICATION */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   SearchTermList
   style declarations for searchTermList.xhtml
   ==============================================================*/
/* BLOCK */
.search-termlist {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* USER VIEWS */
/* ==============================================================
   User Backend Tables
   style declarations for user backend tables
   ==============================================================*/
/* data table styles */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   User
   style declarations for user.xhtml
   ==============================================================*/
/* USER */
/* BLOCK */
.user {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   User Activity
   style declarations for userBackendActivity.xhtml
   ==============================================================*/
/* USER SCORE */
/* BLOCK */
.user-score {
  /* ELEMENT */
}
/* USER ACTIVITY */
/* BLOCK */
.user-activity {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   User Bookshelves
   style declarations for userBackendBookshelves.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   User edit Bookshelf
   style declarations for userBackendEditBookshelf.xhtml
   ==============================================================*/
#editBookshelf #userEditBookshelfForm .btn {
  float: right;
  margin: 0;
}
#editBookshelf #deleteBookshelfWrapp {
  text-align: right;
}
#editBookshelf #editBookshelfItemControlsForm {
  text-align: right;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   User other Bookshelves
   style declarations for userBackendOtherBookshelves.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   User view Bookshelf
   style declarations for userBackendViewBookshelf.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   User Data
   style declarations for user.xhtml
   ==============================================================*/
/* USERDATA */
/* BLOCK */
.userdata {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   User Searches
   style declarations for userBackendSearches.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* VIEWS */
/* ==============================================================
   View Image Fullscreen
   style declarations for viewImageFullscreen.xhtml 
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   View Fulltext
   style declarations for viewFulltext.xhtml 
   ==============================================================*/
/* NER-POPOVERS */
.ner-person {
  color: #0174DF;
}
.ner-location {
  color: #FF8000;
}
.ner-institution {
  color: #298A08;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   View Image
   style declarations for viewImage.xhtml 
   ==============================================================*/
/* IMAGE VIEW */
/* OPEN LAYERS */
/* VIDEO IFRAME */
/* META MUSEAL */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   View Metadata
   style declarations for viewMetadata.xhtml 
   ==============================================================*/
/* METADATA */
/* DOWNLOADS */
#viewMetadataDownloads ul li {
  /* BLOCK */
}
#viewMetadataDownloads ul li.dl-links {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   View NER Facetting
   style declarations for viewNerFacetting.xhtml
   ==============================================================*/
/* OVERVIEW & SECTION */
/* OVERVIEW */
#nerFacetting #overview .current-tags .page-tag.person {
  color: #0174DF;
}
#nerFacetting #overview .current-tags .page-tag.location {
  color: #FF8000;
}
#nerFacetting #overview .current-tags .page-tag.corporation {
  color: #298A08;
}
/* SECTION */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   View Overview
   style declarations for viewOverview.xhtml 
   ==============================================================*/
/* VIEW OVERVIEW */
/* BLOCK */
.overview {
  /* ELEMENT */
  /* DELETE */
  /* METADATA */
  /* DESCRIPTION */
  /* PUBLICATION */
  /* HISTORY */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   View Preview
   style declarations for viewPreview.xhtml 
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   View Thumbs
   style declarations for viewThumbs.xhtml 
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   View Timematrix
   style declarations for viewTimematrix.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   View Toc
   style declarations for viewToc.xhtml
   ==============================================================*/
/* VIEW TOC */
/* BLOCK */
.toc {
  /* MULTI VOLUME TOC */
  /* ELEMENT */
  /* TOC TREEVIEW */
  /* ELEMENT */
  /* EXPAND ALL */
  /* TOC EXPANDABLE */
  /* TOC FULL */
}
/* DOWNLOAD MODAL */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   View Download
   style declarations for viewDownload.xhtml
   ==============================================================*/
/* DOWNLOAD */
/* BLOCK */
.download {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   View Reading Mode
   style declarations for viewReadingMode.xhtml 
   ==============================================================*/
/* READING MODE */
/* BLOCK */
.reading-mode {
  /* ELEMENT */
  /* NAVIGATION */
  /* CONTENT */
}
/* MODIFICATION */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* WIDGETS */
/* ==============================================================
   Widgets
   style declarations for sidebar widgets
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Admin
   style declarations for widget_admin.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Bookshelves
   style declarations for widget_bookshelves.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Browsing
   style declarations for widget_browsing.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget CMS
   style declarations for widget_cms.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Convolutes
   style declarations for widget_convolutes.xhtml
   ==============================================================*/
#widgetConvolutes {
  display: none;
  visibility: hidden;
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Crowdsourcing
   style declarations for widget_crowdsourcing.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Custom
   style declarations for widget_custom.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Downloads
   style declarations for widget_downloads.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Metadata
   style declarations for widget_metadata.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget my Searches
   style declarations for widget_mySearches.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget RSS
   style declarations for rssFeed.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Search Drill Down
   style declarations for widget_searchDrillDown.xhtml
   ==============================================================*/
/* BLOCK */
.widget-search-drilldown {
  /* ELEMENT */
  /* COLLAPSE DRILLDOWN */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Searchfield
   style declarations for widget_searchField.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget SearchInCurrentItem
   style declarations for widget_searchInCurrentItem.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Search Result Navigation
   style declarations for widget_searchresultNavigation.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Search Sorting
   style declarations for widget_searchSorting.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Toc
   style declarations for widget_toc.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget User
   style declarations for widget_user.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Version History
   style declarations for widget_versionHistory.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Views
   style declarations for widget_views.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget NER Facetting
   style declarations for widget_nerFacetting.xhtml
   ==============================================================*/
/* OVERVIEW & SECTION */
/* OVERVIEW */
#overview .current-tags .page-tag.person {
  color: #0174DF;
}
#overview .current-tags .page-tag.location {
  color: #FF8000;
}
#overview .current-tags .page-tag.corporation {
  color: #298A08;
}
/* SECTION */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Work Count
   style declarations for widget_workCount.xhtml
   ==============================================================*/
/* WIDGET WORKCOUNT */
/* BLOCK */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   Widget Geo Locations
   style declarations for widget_geoLocations.xhtml
   ==============================================================*/
.widget-geo-locations {
  /* CMS BACKEND WIDGET */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* CMS COMPONENTS */
/* ==============================================================
   CMS Component "Collection Tiled"
   ==============================================================*/
/* COLLECTION TILED */
/* BLOCK */
.collection-tiled {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Component "SOLR Query Collection"
   ==============================================================*/
/* SOLR QUERY COLLECTION */
/* BLOCK */
.solr-query-collection {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* CMS TEMPLATES */
/* ==============================================================
   CMS Template "Generic"
   style declarations for cms_template_01_generic.xhtml
   ==============================================================*/
/* GENERIC */
/* BLOCK */
.tpl-generic {
  /* ELEMENT */
  /* SOLR-QUERY */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "News Overview"
   style declarations for cms_template_02_overview.xhtml
   ==============================================================*/
/* NEWS OVERVIEW */
/* BLOCK */
.tpl-news-overview {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "News Detail"
   style declarations for cms_template_03_newsdetail.xhtml
   ==============================================================*/
/* NEWS DETAIL */
/* BLOCK */
.tpl-news-detail {
  /* ELEMENT */
  /* SOLR-QUERY */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "News"
   style declarations for cms_template_04_news.xhtml
   ==============================================================*/
/* NEWS */
/* BLOCK */
.tpl-news {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "Simple"
   style declarations for cms_template_05_simple.xhtml
   ==============================================================*/
/* SIMPLE */
/* BLOCK */
.tpl-simple {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "SOLR QUERY"
   style declarations for cms_template_06_solrquery.xhtml
   ==============================================================*/
/* SOLR QUERY */
/* BLOCK */
.tpl-solr-query {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "Collection"
   style declarations for cms_template_08_collection.xhtml
   ==============================================================*/
/* COLLECTION */
/* BLOCK */
.tpl-collection {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "Collection Tiled"
   style declarations for cms_template_09_collectionTiled.xhtml
   ==============================================================*/
/* COLLECTION TILED */
/* BLOCK */
.tpl-collection-tiled {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "Single Page"
   style declarations for cms_template_10_singlePage.xhtml
   ==============================================================*/
/* SINGLE PAGE */
/* BLOCK */
.tpl-single {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "Search List Custom"
   style declarations for cms_template_10_searchListCustom.xhtml
   ==============================================================*/
/* TPL SEARCH LIST CUSTOM */
/* BLOCK */
.tpl-search-list-custom {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "Masonry"
   style declarations for cms_template_12_masonry.xhtml
   ==============================================================*/
/* TPL MASONRY */
/* BLOCK */
.tpl-masonry {
  /* ELEMENT */
}
/* MODIFICATION */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template Single Collection
   style declarations for cms_template_13_singleCollection.xhtml
   ==============================================================*/
/* TPL SINGLE COLLECTION */
/* BLOCK */
.tpl-single-collection {
  /* ELEMENT */
}
/* MODIFICATION */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template Static Grid
   style declarations for cms_template_14_staticGrid.xhtml
   ==============================================================*/
/* TPL STATIC GRID */
/* BLOCK */
.tpl-static-grid {
  /* ELEMENT */
}
/* MODIFICATION */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template RSS Feed
   style declarations for cms_template_15_RSSFeed.xhtml
   ==============================================================*/
/* TPL RSS FEED */
/* BLOCK */
.tpl-rss {
  /* ELEMENT */
}
/* MODIFICATION */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template Stacked Collection
   style declarations for cms_template_16_stackedCollection.xhtml
   ==============================================================*/
/* TPL STACKED COLLECTION */
/* BLOCK */
.tpl-stacked-collection {
  /* ELEMENT */
}
/* MODIFICATION */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "Searchlist"
   style declarations for cms_template_17_searchList.xhtml
   ==============================================================*/
/* SEARCHLIST */
/* BLOCK */
.tpl-search-list {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Template "Searchlist Advanced"
   style declarations for cms_template_18_searchListAdvanced.xhtml
   ==============================================================*/
/* SEARCHLIST ADVANCED */
/* BLOCK */
.tpl-search-list-advanced {
  /* ELEMENT */
}
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* CMS VIEWS */
/* ==============================================================
   CMS Create Page
   style declarations for adminCmsCreatePage.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Media
   style declarations for adminCmsOverviewMedia.xhtml
   ==============================================================*/
/* TRIGGER UPLOAD */
/* BLOCK */
/* MEDIA GALLERY */
/* BLOCK */
.media-gallery {
  /* ELEMENT */
}
/* MEDIA UPLOAD MODAL */
/* BLOCK */
.media-modal {
  /* ELEMENT */
}
/* BREAKPOINT FOR SMARTPHONES */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* ==============================================================
   CMS Menu Items
   style declarations for adminCmsMenuItems.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Overview
   style declarations for adminCmsOverview.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Select Template
   style declarations for adminCmsSelectTemplate.xhtml
   ==============================================================*/
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
/* ==============================================================
   CMS Static Pages
   style declarations for adminCmsStaticPages.xhtml
   ==============================================================*/
/* STATIC PAGES */
/* BLOCK */
.cms-static-pages {
  /* ELEMENT */
}
/* MODIFICATION */
/* BREAKPOINT FOR LARGE DESKTOPS */
/* BREAKPOINT FOR DESKTOP */
/* BREAKPOINT FOR TABLETS */
/* BREAKPOINT FOR SMARTPHONES */
